/*  ###### CSS RESET ###### */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*  ###### END RESET ###### */

body { font-family:sans; }

#mainTable { width:100%; border-collapse:collapse; border:0; }

h2 { margin:0 0 10px 0; padding:8px 25px;
    font-size:1.3em; font-weight:bold; text-shadow:2px 2px 2px #fff;
    background-color:#bbf; border:0; border-right:1px solid #888; }

div.node { position:relative; margin:5px; padding:0; 
    background-color:#eee; border:1px solid #aaa;
    box-shadow:2px 2px 2px #999;
}

div.node h3 { padding:2px 5px; font-size:1.2em; font-weight:bold; }

div.node span.addr { padding:3px; position:absolute; top:0; right:0;
    text-align:right; background-color:#eef; }

div.node span.buttons { position:absolute; left:0; right:0; }
div.node span.node-button { width:16px; height:16px; float:right; overflow:hidden;}




/* Logging */
#log-output .error { color:red; }
#log-output .success { color:green; }
