/*  ###### CSS RESET ###### */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*  ###### END RESET ###### */

html, body { font-family:sans; width:100%; height:100%; }

#left { position:absolute; left:0; top:0; bottom:0; right:50%;
    overflow-y:scroll;
    background-color:none; }
#right { position:absolute; right:0; top:0; bottom:0; width:50%;
    overflow-y:scroll;
    background-color:#eeeeee; }

#btnScan, #btnClose { position:absolute; top:5px; right:15px; }
#btnClear { position:absolute; top:5px; right:105px; }

h2 { margin:0 0 10px 0; padding:8px 25px;
    font-size:1.3em; font-weight:bold; text-shadow:2px 2px 2px #fff;
    background-color:#bbf; border:0; border-right:1px solid #888; }

div.node { position:relative; margin:5px; padding:0;
    background-color:#eee; border:1px solid #aaa;
    box-shadow:2px 2px 2px #999;
}

div.node h3 { margin:0 0 4px 0; padding:4px 5px 0 5px;
    font-size:1.2em; font-weight:bold; border-bottom:1px solid #bbbbcc;
    background-color:#ddddff; }

div.node span.addr { padding:3px; position:absolute; top:0; right:0;
    text-align:right; }


div.node .buttons { margin: 2px 2px 5px 4px; }
div.node span.node-button { width:16px; height:16px; float:right; overflow:hidden; }


#cfg-left { float:left; width:49%; }
#cfg-right { float:left; width:49%; overflow-y:scroll; }

.config-label { width: 165px; display: inline-block; text-align: right; }

#cfg-left input { width:100px; }
#cfg-left select { width:99%; }

.cfg-rule { margin:3px; padding:2px;
    background-color:#EDA64F; border:1px solid #9A821C; border-radius:5px; }
.cfg-rule p { margin:1px 0; }

/* Logging */
#log-output { font-size:0.8em; margin:10px; word-wrap:break-word; }
#log-output .error { color:red; }
#log-output .success { color:green; }
